/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

//Navigation
.sign-in {
  padding-top: 12px;
  padding-right: 10px;
  color: #e7eaea;
  a {
    text-decoration:none;
    color: #9d9d9d;
  }
}


//Userbox for logins using devise
.user-box {
  margin: auto;
  background-color: #e7eaea;
  width:25%;
  text-align: center;
  padding:10px 10px 20px 10px;
  border-radius: 10px;
}
.user-box h2 {
  text-align: center;
  padding-bottom: 20px;
}

.user-box-signup{
  margin: auto;
  background-color: black;
  width: 400px;
  padding: 3rem;

  .current-button {
    // width:50%;
    background-color: #5cb85c;
    display: block;
    font-size: 2rem;
  }
  .other-button {
    // width:50%;
    background-color: grey;
    border-color: grey;
    display: block;
    font-size: 2rem;
  }
  h2 {
    text-align: center;
    padding: 40px 10px 10px 10px;
    font-size: 3rem;
    color:white;
  }
  .field{
    .form-control {
      width: 80%;
      margin:auto;
      padding-bottom:5px;
    }
    padding-bottom:5px;
  }
  .remember {
    width: 80%;
    margin:auto;
    color:white;
  }
  .action-button {
    margin:auto;
    width:80%;
    display:block;
    margin-top:10px;
    margin-bottom:40px;
  }
  .cancel-button {
    margin-bottom:40px;
  }
  h3 {
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-size: 2rem;
    color:lightgrey;
  }
  .unhappy {
    text-align: center;
    color:lightgrey;
  }

}

#error_explanation h2{
  font-size: 1.5rem;
  color: red;
  padding-bottom: 5px;
}
#error_explanation li{
  font-size: 1rem;
  color: red;
  text-align: left;
}
